.demo-slider-controls

This competition is AHA sanctioned and open to anyone age 21 or older. An entrant is the one or more people submitting an entry. Member(s) of an entrant must have actively contributed to brewing, fermenting, and bottling an entry. An entrant may not be an entire brew club. Competition staff, judges and stewards are permitted to be entrants. Professional Brewers are permitted to be entrants as long as the entry was not brewed on commercial equipment

All entries must be handcrafted products, containing ingredients available to the general public, and made using private equipment by hobbyist brewers (i.e., no use of commercial facilities or Brew on Premises operations, supplies, etc.).

The preferred entry drop off window begins Friday, 8/28 when the drop-off location opens for normal business.

All mailed entries must received at the mailing location by Friday, 9/11 - please allow for shipping time.

All entries will be picked up from drop-off locations starting at noon on 9/12.

The competition organizers are not responsible for mis-categorized entries, mailed entries that are not received by the entry deadline, or entries that arrived damaged.

All entries become the property of the Strand Brewers Club and used or unused bottles will not be returned.

Qualified judging of all entries is the primary goal of our event. A panel of at least two judges will judge each entry according to the sub-category in which it was entered. Queued Judging will be employed for large flight, with a mini-BOS round. Each flight will have at least one BJCP ranked judge. No judge will be assigned to a category for which they are entrants

